---
const { title } = Astro.props;
---

<div class='tt-section'>
  <div class='tt-section-inner tt-wrap'>
    <div class='tt-row'>
      <div class='tt-col-lg-4 padding-right-lg-5-p'>
        <div class='tt-heading tt-heading-sm margin-bottom-60 anim-fadeinup'>
          <h2 class='tt-heading-title text-gray'>
            {title}
          </h2>
        </div>
      </div>

      <div class='tt-col-lg-8'>
        <div class='text-xxlg font-alter'>
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
