---
import Socials from './Socials.astro';
---

<div class='tt-section'>
  <div class='tt-section-inner tt-wrap'>
    <div class='tt-row'>
      <div class='tt-col-lg-5 padding-right-lg-5-p'>
        <div class='tt-heading tt-heading-lg margin-bottom-10-p anim-fadeinup'>
          <h3 class='tt-heading-subtitle text-gray'>Get in Touch</h3>
          <h2 class='tt-heading-title'>Drop Us<br /> A Line</h2>
        </div>

        <ul class='tt-contact-info padding-bottom-40 text-gray'>
          <li class='anim-fadeinup'>
            <span class='tt-ci-icon'><i class='fas fa-map-marker-alt'></i></span
            >
            121 King Street, Melbourne, Australia
          </li>
          <li class='anim-fadeinup'>
            <span class='tt-ci-icon'><i class='fas fa-phone'></i></span>
            <a href='tel:+123456789000' class='tt-link'>+(123) 456 789 000</a>
          </li>
          <li class='anim-fadeinup'>
            <span class='tt-ci-icon'><i class='fas fa-envelope'></i></span>
            <a href='mailto:company@email.com' class='tt-link'
              >company@email.com</a
            >
          </li>
          <li class='anim-fadeinup'>
            <h6 class='no-margin-bottom margin-top-40'>Follow:</h6>
            <!-- Begin social buttons -->
            <div class='social-buttons'>
              <Socials />
            </div>
            <!-- End social buttons -->
          </li>
        </ul>
        <!-- End contact info -->
      </div>
      <!-- /.tt-col -->

      <div class='tt-col-lg-7'>
        <form id='tt-contact-form' class='tt-form-minimal anim-fadeinup'>
          <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
          <input
            type='hidden'
            name='project_name'
            value='yourwebsiteaddress.com'
          />
          <!-- Change value to your site name -->
          <input type='hidden' name='admin_email' value='your@email.com' />
          <!-- Change value to your valid email address (where a message will be sent) -->
          <input
            type='hidden'
            name='form_subject'
            value='Message from yourwebsiteaddress.com'
          />
          <!-- Change value to your own message subject -->
          <!-- End Hidden Required Fields -->

          <div class='tt-row'>
            <div class='tt-col-md-6'>
              <div class='tt-form-group'>
                <label>Name <span class='required'>*</span></label>
                <input
                  class='tt-form-control'
                  type='text'
                  name='Name'
                  placeholder=''
                  required
                />
              </div>
            </div>
            <!-- /.tt-col -->

            <div class='tt-col-md-6'>
              <div class='tt-form-group'>
                <label>Email address <span class='required'>*</span></label>
                <input
                  class='tt-form-control'
                  type='email'
                  name='Email'
                  placeholder=''
                  required
                />
              </div>
            </div>
            <!-- /.tt-col -->
          </div>
          <!-- /.tt-row -->

          <div class='tt-form-group'>
            <label>Subject <span class='required'>*</span></label>
            <input
              class='tt-form-control'
              type='text'
              name='Subject'
              placeholder=''
              required
            />
          </div>

          <div class='tt-form-group'>
            <label>Message <span class='required'>*</span></label>
            <textarea
              class='tt-form-control'
              rows='6'
              name='Message'
              placeholder=''
              required></textarea>
          </div>

          <small class='tt-form-text'
            ><em>Fields marked with an asterisk (*) are required!</em></small
          >

          <div class='tt-btn tt-btn-light-outline margin-top-40'>
            <button type='submit' data-hover='Send Message'>Send Message</button
            >
          </div>
        </form>
        <!-- End form -->
      </div>
      <!-- /.tt-col -->
    </div>
    <!-- /.tt-row -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
