---
import Image from 'astro/components/Image.astro';

const { images } = Astro.props;
---

<div class='tt-section'>
  <div class='tt-section-inner'>
    <div
      class='tt-content-carousel cc-shifted cursor-drag cc-scale-down cc-hide-pagination cc-hide-navigation'
      data-simulate-touch='true'
      data-speed='900'
    >
      <div class='swiper'>
        <div class='swiper-wrapper'>
          {
            images.map((image, index) => (
              <div class='swiper-slide'>
                <div class='tt-content-carousel-item'>
                  <figure class='cover-opacity-1'>
                    <Image
                      class='tt-cc-image anim-image-parallax'
                      src={image}
                      alt='Image'
                      loading='lazy'
                    />
                  </figure>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div class='tt-cc-nav-prev'>
        <div class='tt-cc-nav-arrow magnetic-item'></div>
      </div>
      <div class='tt-cc-nav-next'>
        <div class='tt-cc-nav-arrow magnetic-item'></div>
      </div>

      <div class='tt-cc-pagination hide-cursor'></div>
    </div>
  </div>
</div>
