<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
<div class='tt-section padding-top-xlg-150 padding-bottom-xlg-150'>
  <div class='tt-section-inner tt-wrap'>
    <!-- Begin page nav 
								==================== 
								* Use class "tt-pn-stroke" to enable title stroke style.
								* Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
								-->
    <div class='tt-page-nav tt-pn-scroll'>
      <a href='portfolio-grid-modern.html' class='tt-pn-link anim-fadeinup'>
        <div class='tt-pn-title'>Portfolio</div>
        <div class='tt-pn-hover-title'>Portfolio</div>
      </a>
      <!-- /.tt-pn-link -->

      <div class='tt-pn-subtitle anim-fadeinup'>Selected Works</div>

      <!-- Use if destination page contains page header image -->
      <div class='tt-pn-image'>
        <img src='assets/img/page-header/ph-1.jpg' alt='image' />
      </div>
    </div>
    <!-- End page nav -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
