<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
<div class='tt-section padding-top-xlg-150 padding-bottom-xlg-150'>
  <div class='tt-section-inner'>
    <!-- Begin scrolling text
								========================== 
								Change data-scroll-speed="*" to adjust scrolling speed.
								Use class "scr-text-reverse" to reverse scrolling direction. 
								Use class "scr-text-stroke" to enable text stroke style (no effect on smaller screens!). 
								-->
    <div
      class='tt-scrolling-text scr-text-stroke font-italic'
      data-scroll-speed='15'
    >
      <div
        class='tt-scrolling-text-inner text-dark-3'
        data-text="Let's create something awesome together! -"
      >
        Let's create something awesome together! -
      </div>
      <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->

    <!-- Begin scrolling text
								========================== 
								Change data-scroll-speed="*" to adjust scrolling speed.
								Use class "scr-text-reverse" to reverse scrolling direction. 
								Use class "scr-text-stroke" to enable text stroke style (no effect on smaller screens!). 
								-->
    <div
      class='tt-scrolling-text scr-text-stroke scr-text-reverse font-italic'
      data-scroll-speed='15'
    >
      <div
        class='tt-scrolling-text-inner text-dark-3'
        data-text="Let's create something awesome together! -"
      >
        Let's create something awesome together! -
      </div>
      <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
