---
const { title } = Astro.props;
---

<div class='tt-section padding-top-xlg-150 padding-bottom-xlg-150'>
  <div class='tt-section-inner'>
    <div
      class='tt-scrolling-text scr-text-stroke font-italic'
      data-scroll-speed='15'
    >
      <div class='tt-scrolling-text-inner text-dark-3' data-text={title}>
        {title}
      </div>
      <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->

    <div
      class='tt-scrolling-text scr-text-stroke scr-text-reverse font-italic'
      data-scroll-speed='15'
    >
      <div class='tt-scrolling-text-inner text-dark-3' data-text={title}>
        {title}
      </div>
      <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
