---
import { getCollection, getEntry } from 'astro:content';

const allServices = await getCollection('service');
// console.log(allServices);
---

<div
  class='tt-section padding-bottom-xlg-150 padding-left-sm-3-p padding-right-sm-3-p'
>
  <div class='tt-section-inner tt-wrap max-width-1100'>
    <div
      class='tt-heading tt-heading-lg tt-heading-center margin-bottom-15-p anim-fadeinup'
    >
      <h3 class='tt-heading-subtitle text-gray'>What We Do</h3>
      <h2 class='tt-heading-title'>Services</h2>
    </div>

    <div class='tt-accordion tt-ac-xlg tt-ac-borders'>
      {
        allServices.map((service) => {
          const words = service.body.split(' ');
          const truncatedText = words.slice(0, 50).join(' ') + '...';

          return (
            <div class='tt-accordion-item anim-fadeinup'>
              <div class='tt-accordion-heading'>
                <h3 class='tt-ac-head-title'>{service.data.title}</h3>
                <div class='tt-accordion-subtext'>
                  {service.data.description}
                </div>
                <div class='tt-accordion-caret-wrap'>
                  <div class='tt-accordion-caret magnetic-item' />
                </div>
              </div>
              <div class='tt-accordion-content max-width-800'>
                <p>{truncatedText}</p>

                <div class='tt-btn tt-btn-link'>
                  <a href={`/services/${service.id}`} data-hover='Read More'>
                    Read More
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
