---
import { getCollection } from 'astro:content';
const allTestimonials = await getCollection('testimonial');
// const { title, description } = allTestimonials[0].data;
// console.log(allTestimonials[0].data.title);
---

<div
  class='tt-section padding-top-xlg-150 padding-bottom-xlg-100 padding-left-sm-3-p padding-right-sm-3-p bg-white-accent-3'
>
  <div class='tt-section-inner'>
    <div
      class='tt-testimonials-slider ts-full-width text-center cursor-drag ts-scale-down ts-hide-navigation anim-fadeinup'
      data-loop='true'
      data-simulate-touch='true'
      data-speed='900'
    >
      <div class='swiper'>
        <div class='swiper-wrapper'>
          {
            allTestimonials.map((item) => (
              <div class='swiper-slide font-alter'>
                <div class='tt-ts-item'>
                  <div class='tt-ts-text'>{item.data.description}</div>
                  <div class='tt-ts-subtext'>{item.data.title}</div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div class='tt-ts-nav-prev'>
        <div class='tt-ts-nav-arrow magnetic-item'></div>
      </div>
      <div class='tt-ts-nav-next'>
        <div class='tt-ts-nav-arrow magnetic-item'></div>
      </div>

      <div class='tt-ts-pagination hide-cursor'></div>
    </div>
  </div>
</div>
