<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
<div class='tt-section'>
  <div class='tt-section-inner tt-wrap'>
    <div class='tt-row'>
      <div class='tt-col-lg-4 padding-right-lg-5-p'>
        <!-- Begin tt-Heading 
										====================== 
										* Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
										* Use class "tt-heading-stroke" to enable stroke style.
										* Use class "tt-heading-center" to align tt-Heading to center.
										* Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
										-->
        <div class='tt-heading tt-heading-sm margin-bottom-60 anim-fadeinup'>
          <h2 class='tt-heading-title text-gray'
            >The<br class='hide-from-md' /> Story</h2
          >
          <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
        </div>
        <!-- End tt-Heading -->
      </div>
      <!-- /.tt-col -->

      <div class='tt-col-lg-8'>
        <div class='text-xxlg font-alter'>
          <p class='anim-fadeinup'
            >Hello, we going manor who did. Do ye is considered occasion
            directly that. May ecstatic did surprise elegance the ignorant age.
            Own her miss cold. It so numerous if outlived possession.</p
          >

          <p class='anim-fadeinup'
            >Fat new smallness few supposing suspicion two. Course sir awesome <a
              href='https://1.envato.market/tank'
              target='_blank'
              rel='noopener'>website teplates</a
            > add entire design. How one dull get busy dare far. At principle perfectly
            by sweetness do. As mr started arrival.</p
          >
        </div>
      </div>
      <!-- /.tt-col -->
    </div>
    <!-- /.tt-row -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
