---
// tools
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

// components
import InnerHeroV2 from '@/components/Heros/InnerHeroV2.astro';
import PostNavigation from '@/components/ui/PostNavigation.astro';

// layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
import SocialShare from '@/components/ui/SocialShare.astro';

// looping over news, generating paths & adding pagination sorted by date
export const getStaticPaths = (async () => {
  const allBlogs = (
    await getCollection('blog', ({ data }) => !data.isDraft)
  ).sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
  return allBlogs.map((blog, index) => ({
    params: { slug: blog.id },
    props: { blog, index, allBlogs },
  }));
}) satisfies GetStaticPaths;

const { blog, index, allBlogs } = Astro.props;
const { title, image } = blog.data;
const { Content } = await render(blog);

const previousPost = index > 0 ? allBlogs[index - 1] : null;
const nextPost = index < allBlogs.length - 1 ? allBlogs[index + 1] : null;
---

<BaseLayout>
  <InnerHeroV2 title={title} image={image} />
  <div class='tt-section'>
    <div class='tt-section-inner tt-wrap max-width-900'>
      <article class='tt-blog-post lightgallery'>
        <div class='tt-blog-post-content'>
          <Content />
        </div>
        <SocialShare />
      </article>

      <!-- next/previous page nav -->
      <PostNavigation
        previousPost={previousPost}
        nextPost={nextPost}
        baseUrl='/news'
      />
    </div>
  </div>
</BaseLayout>
