---
// layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// components
import InnerHeroV2 from '@/components/Heros/InnerHeroV2.astro';

// tools
import { getCollection, render } from 'astro:content';
import type { GetStaticPaths } from 'astro';
import SocialShare from '@/components/ui/SocialShare.astro';

export const getStaticPaths = (async () => {
  const allServices = await getCollection(
    'service',
    ({ data }) => !data.isDraft
  );
  return allServices.map((service) => ({
    params: {
      slug: service.id,
    },
    props: {
      service: service,
    },
  }));
}) satisfies GetStaticPaths;

const { service } = Astro.props;
const { title, image } = service.data;

const { Content } = await render(service);
---

<BaseLayout>
  <InnerHeroV2 title={title} image={image} />
  <div class='tt-section'>
    <div class='tt-section-inner tt-wrap max-width-900'>
      <article class='tt-blog-post lightgallery'>
        <div class='tt-blog-post-content'>
          <Content />
        </div>
        <SocialShare />
      </article>
      <div class='tt-blog-post-nav'>
        <div class='tt-bp-nav-col tt-bp-nav-right'>
          <div class='tt-bp-nav-text'>
            Next Post<span><i class='fas fa-angle-right'></i></span>
          </div>
          <h4 class='tt-bp-nav-title'>
            <a href='https://e-blueprint.co.uk/services/brand-identity/'>
              Brand identity
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
