---
import Contact from '@/components/Contact.astro';
import Hero from '@/components/Hero.astro';
import LatestWorks from '@/components/LatestWorks.astro';
import Scroller from '@/components/Scroller.astro';
import Services from '@/components/Services.astro';
import Testimonials from '@/components/Testimonials.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

import heroImage from '../assets/images/digital-marketing.jpg';
---

<BaseLayout>
  <Hero
    ghost='Creative & Digtial Agency'
    description='Description'
    image={heroImage}
  >
    <span class=''>Welcome to…</span>
    <br />
    <span class='blue'>e-blueprint digital</span>
  </Hero>
  <LatestWorks
    subTitle='Latest Projects'
    title='Works'
    linkText='See All Works'
    link='/portfolio'
  />
  <Services />
  <Testimonials />
  <Scroller title="Let's create something awesome together! -" />
  <Contact />
</BaseLayout>
